/* clients */
.clients {
  &-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $backgroung-second;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  &:hover .clients-svg,
  &:focus .clients-svg {
    fill: $accent-color;
  }
}

.clients-svg {
  fill: $sprite-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
