/* principles */
.principles {
  width: 480px;
  margin: 0 auto;
  &-container {
    width: 480px;
  }
  &-list {
    width: 450px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-img {
    @extend %margin-center;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: $background-button;
    padding-left: 190px;
    padding-right: 190px;
    margin-bottom: 30px;
  }
  &-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;
    text-align: center;
  }
  &-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.6;
  }
  &-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
// &-container {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// &-list {
//   display: flex;
// }
//
//   &-img {
//
//
//     padding-top: 25px;
//     padding-bottom: 25px;
//     padding-left: 100px;
//     padding-right: 100px;
//     width: 270px;
//     height: 120px;
//     border-radius: 4px;
//     background-color: $background-button;
//   }
//   &-title {
//
//

//   }
