/* services */

.service {
  &-list {
    display: flex;
    margin-top: 50px;
  }
  &-container {
    padding-bottom: 94px;
  }
  &-container-overlay {
    position: relative;
  }
  &-img {
    display: block;
  }
  &-title {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    margin: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-white-color;
    background-color: $background-services;
  }
  &-item:not(:last-child) {
    margin-right: 30px;
  }
}
