/* team */

.team {
  background-color: $background-button;
  &-list {
    display: flex;
    justify-content: center;
  }
  &-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .title {
    margin-bottom: 50px;
  }
  &-profile {
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: $primary-white-color;
  }
  &-profile:not(:last-child) {
    margin-right: 30px;
  }
  &-occupation {
    font-size: 16px;
    line-height: 1.875;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}
.nav-contacts-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  left: 247px;
  top: 2139px;

  &:hover .social-img,
  &:focus .social-img {
    fill: $primary-white-color;
  }
}

.team-member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 500;
  color: $title-text-color;

  &-img {
    margin-bottom: 30px;
  }
}

.social-team-list-links {
  display: flex;
  justify-content: center;
  .social-team-item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-img {
  fill: $primary-white-color;
  display: block;
  width: 20px;
  height: 20px;
  .social-team-item & {
    fill: $sprite-color;
  }
}

.team-title,
.team-member,
.team-occupation,
.title {
  text-align: center;
}
