/* modal window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  @extend %flex-center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-form {
  position: relative;
  width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
  background-color: $primary-white-color;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-title {
    width: 448px;
    height: 23px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
  }

  &-input-wrapper {
    position: relative;
    margin-bottom: 28px;
  }
  &-input-textarea {
    position: relative;
    margin-bottom: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-input {
    position: relative;
    width: 448px;
    height: 40px;
    border: 1px solid #2196f3;
    border-radius: 4px;
    padding-left: 42px;
    font-size: 11px;
    color: $accent-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-email {
    height: 30px;
    padding-left: 46px;
  }
  &-message {
    position: relative;
    width: 448px;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;
    resize: none;
    color: $accent-color;
    font-size: 14px;
    line-height: 1, 14;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
  }

  &-message-upper {
    top: 0;
    left: 0;
    transform: translateY(-150%);
    position: absolute;
    font-size: 12px;
    color: $primary-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &-option-label {
    @extend %flex-center;
    margin-bottom: 30px;
  }

  &-custom-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: 1px solid #000;
    margin-right: 15px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-option-span {
    font-size: 14px;
    line-height: 1.7;
    color: $primary-text-color;
  }
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $accent-color;
  }
}

.modal-form-input,
.modal-form-message {
  @extend %modal-window;
  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
  }
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-family: $primary-font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: $primary-text-color;
  transition: transform 250ms linear;

  .modal-form-input:focus + &,
  .modal-form-input:not(:placeholder-shown) + & {
    transform: translate(-40px, -40px);
    color: $accent-color;
  }
}

.modal-form-option-span a {
  color: $accent-color;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  background-size: contain;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $title-text-color;

  .modal-form-input:focus ~ &,
  .modal-form-input:not(:placeholder-shown) ~ &,
  .modal-form-checkbox:focus & {
    fill: $accent-color;
  }
}

.checkbox-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;
  fill: $primary-white-color;
}

.modal-form-checkbox:checked {
  & + .modal-form-custom-checkbox {
    background-color: $accent-color;
    outline: none;
    background-origin: border-box;
  }
  & .checkbox-svg {
    fill: $primary-white-color;
  }
}

.modal-form-btn {
  @extend %margin-center;
  color: $primary-white-color;
  width: 200px;
  height: 50px;
  border-style: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
