body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: 0;
  padding: 0; */
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
