$primary-font-family: "roboto", sans-serif;
$secondary-font-family: "raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-color: #000000;
$primary-white-color: #ffffff;
$footer-white: rgba(255, 255, 255, 0.6);
$border-footer-form: rgba(255, 255, 255, 0.3);
$backgroung-second: #afb1b8;
$background-footer: #2f303a;
$background-footer-social: rgba(255, 255, 255, 0.1);
$background-button: #f5f4fa;
$background-portfolio-item: #eeeeee;
$background-services: rgba(47, 48, 58, 0.8);
$backgroung-hero: rgba(47, 48, 58, 0.8);
$background-overlay: rgba(33, 150, 243, 0.9);
$sprite-color: #afb1b8;
